

require(data.table)
require(dygraphs)
require(xts)
test <- fread("D:/New folder (7)/matr/SCONES_test.tsv")


visualize <- function(x) {     #x can be either data.frame or data.table
      x<-data.frame(x)
         
         #separating two datasets
    x1 <- x[x$chr == 1, ]
    x2 <- x[x$chr != 1, ]
    
    #converting start and end in a series
    t1<-data.frame("range"=1:nrow(x1))
    t2<-data.frame("range"=1:nrow(x2))
  
  #coverting log values in to the numbers
    t1$testsample_first<-exp(x1$testSample1)       
    t1$testsample_second<-exp(x1$testSample2)
    
  
    t2$testsample_first<-exp(x2$testSample1)
    t2$testsample_second<-exp(x2$testSample2)
    
    layout(matrix(c(1,1,2,2), 2, 2, byrow = TRUE))
    
    dygraph(t1)
    dygraph(t2)
}

visualize(scon)

